name: Generate coverage report

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Generate coverage report
      run: |
        pip install h5py pytest pytest-cov
        export MPLBACKEND="agg"
        export PYTHONPATH="${PYTHONPATH}:`pwd`"
        pytest --cov-config=pyproject.toml --cov-report xml:report_coverage.xml --cov=droplets tests

    - name: Upload coverage to Codecov  
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./report_coverage.xml
        flags: unittests
        fail_ci_if_error: true
